@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand-primary: #0070f3; /* Default Manager Blue */
  }

  body {
    @apply bg-[#0f0f0f] text-zinc-100;
    font-family: 'Inter', sans-serif;
  }

  mark {
    @apply bg-transparent text-blue-500 underline decoration-2 underline-offset-2;
  }
}

@layer utilities {
  .font-mono {
    font-family: 'JetBrains Mono', monospace;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-white/10 rounded-full hover:bg-white/20 transition-colors;
  }
}
